@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: apple;
    background-color:black;
}
#nav{
    background-color: rgb(45, 44, 44);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    color: #fff;
    font-size: 13px;
    font-family: apple;
}
#nav h4{
    font-weight: 400;
}
.center{
    background-color: black;
    height: 500px;
    margin-top: 30px;
    width: 100%;
    background-image: url(https://www.apple.com/v/iphone-17-pro/b/images/overview/welcome/hero__bdntboqignj6_large_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
}
.center button{
    background-color: rgb(81, 82, 83);
    position: absolute;
    bottom: 13%;
    padding: 10px 20px;
    font-size: 15px;
    color: rgb(108, 142, 244);
    border-radius: 20px;
    font-weight: 600;
    border: none;

}
.center button:hover{
    background-color: royalblue;
}
.center h4{
    position: absolute;
    bottom: 7%;

    font-weight: 600;
}






